@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	position: absolute;
	top: 100px;
	left: 30px;
	width: 250px;
	height: 100%;
	padding: 5px;
}

#quiz {
	background-color: #34495E;
	padding-bottom: 60px;
	width: 100%;
	border-radius: 2%;
	color: #fff;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#quiz > #quizheader {
	text-align: center;
	padding-top: 25px;
	font-size: 20px;
	color: #fff;
}

.questions {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 20px;
}

.answers div {
	padding: 10px 0 0 0;
	font-size: 16px;
}

.answers div:hover {
	cursor: pointer;
}

@media only screen and (min-width: 1224px) {
	.answers div:hover {
		color: #4099FF;
	}
}	

.answers {
	padding: 0px 0 10px 0px;
}

.answers div {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 15px;
	border-top: 1px solid #888;
}

.answers div:first-child {
	border: none;
}

.checker {
	display: inline-block;
	width: 200px;
	margin: 0 auto;
}

.correct, .false {
	background-color: #109D59;
	width: 60px;
	height: 30px;
	line-height: 30px;
	padding-left: 4px;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.false {
	background-color: #DC4437;
}

button {
	width: 30px;
	height: 30px;
	background: none;
	border-radius: 50%;
	border: none;
	color: #fff;
	font-size: 15px;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 25px;
}

button:hover {
	color: #4099FF;
}

button:focus {
	outline:0;
}.
