@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i");
.typed-cursor {
	display: none;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

body {
	font-family: Roboto, Arial, helvetica, sans-serif;
}

.quote-container {
	font-size: 16px;
	background-color: #2196f3;
	color: rgba(255, 255, 255, 0.87);
	position: relative;
	width: 250px;
	height: 250px;
	margin: 20px auto;
	padding: 16px;
	box-shadow: 5px 5px 0 0 #1565c0;
	border-radius: 3px;
}

.quote-container .quote-mark {
	font-size: 12px;
	vertical-align: top;
}

.quote-container .quote-attr {
	opacity: 0;
	text-align: right;
	font-size: 12px;
	margin-top: 8px;
	font-style: italic;
}
